@import "../../styles/variables.scss";
.results {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto auto auto;
}

.header-h1 {
  text-align: center;
}
.header-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.all-bars {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  overflow: auto;
}

.results-header {
  background: $homeBlue;
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-sidebar {
  background: $homeGreen;
  grid-column: 1 / 2;
}

.results-main {
  background: $homeRed;
  grid-column: 2 / 3;
}

.right-sidebar {
  background: $homeGreen;
  grid-column: 3 / 4;
}

.results-h1 {
  display:grid;
}

.hidden {
  visibility: hidden;
}

.button {
  @include button;
}

.results {
  font-family: system-ui, sans-serif;
}
