@import "../../styles/variables.scss";
.skin-details {
  background-color: $homeBlue;
  display: grid;
  grid-template-columns: 1fr minmax(150px, 25%) ;
  padding: 0;
  margin: 0;
}

.sidebar {
  text-align: center;
}

.content {
  padding: 2rem;
}

body {
  font-family: system-ui, serif;
}
