@import "../../styles/variables.scss";
.skin-details {
  background-color: $homeBlue;
  display: grid;
  grid-template-columns: 1fr minmax(150px, 25%) ;
  padding: 0;
  margin: 0;
}

.sidebar {
  text-align: center;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: lightpink;
}

.icon {
  height: 100px;
  width: 100%;
  background: wheat;
  margin: 0.5rem 0;
}

body {
  font-family: system-ui, serif;
}
