$homeGreen: #A3B4C8;
$homeOrange: #CC6D3D;
$homeRed: #B74803;
$homeBlue: #022E51;


@mixin button {
  max-width:100px;
  max-height:100px;
  justify-self:center;
  align-self:center;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
